{% extends user.is_authenticated|yesno:"base/yybase.html,base/uuubase.html" %}
{% block content %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .card-container {
        display: flex;
        justify-content: space-between;
    }

    .center {
        margin: auto;
        width: 120%;
        padding: 20px;

    }

    .d-flex {
        gap: 20px;
    }

    .right {
        position: absolute;
        right: 0px;
        width: 100px;

    }

    .custom-card-title {
        font-size: 62px;
    }

    .pagination-container {
        display: flex;
        justify-content: flex-end;

        align-items: flex-end;
        position: fixed;

        width: 100%;
        padding: 20px;
        color: #4b8add;
    }
    .centerrr {
        text-align: center;
       
      }

    .pagination {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .pagination .page-link {
        margin: 0 5px;
    }

    .centerr {
        padding: 30px 0;

        text-align: center;

    }

    h1 {
        font-size: 70px;


        color: #050505;
    }

    .main {
        text-align: justify;
    }

    .ex1 {

        padding-right: 10px;
    }

</style>
{% if user.is_authenticated %}
    <a  class="btn btn-primary mt-4 right" href="{% url 'logout' %}">logout</a>
{% else %}     
    <a href="{% url 'login' %}" class="btn btn-primary mt-4 right">LOGIN</a><br><br>
    <a href="{% url 'signup' %}" class="btn btn-primary mt-4 right">Register</a>
{% endif %}


<div class="card-container">
    <div class="center">
        <div class="container mb-5" style="width: 60rem; height: 6rem;">
            <div class="main">
                <div class="centerrr">
                    <h1>BLOGS</h1><br>
                </div>
                    <div class="d-flex  justify-content-center ">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            {% if page_obj.has_previous %}
                            <a class="flex-item btn btn-info" href="?page=1">first</a>
                            <a class="flex-item btn btn-info"
                                href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <a class="flex-item btn btn-primary" href="?page=1">1</a>
                            <a class="flex-item btn btn-primary " href="?page=2">2</a>
                            <a class="flex-item btn btn-primary " href="?page=3">3</a>


                            {% if page_obj.has_next %}
                            <a class="flex-item btn btn-info" href="?page={{ page_obj.next_page_number }}">next</a>
                            <a class="flex-item btn btn-info" href="?page={{ page_obj.paginator.num_pages }}">last
                                &raquo;</a><br><br>
                            {% endif %}
                        </div>
                        

                    </div>
                

            </div>
        </div>
    </div>



</div>




<div class="container">
    {% for blog in page_obj %}
    <div class="card">
      <div class="card__header">
        <img  src="{{ blog.image.url }}" alt="card__image" class="card__image" width="600" height="300">
      </div>
      <div class="card__body">
                <h4> <a href="{% url 'blogdetail' blog.slug %}">{{blog.blog_title}}</a></h4>
        <p>{{blog.blog_description|safe}}</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <div class="user__info">
            <h5><p class="card-text">Author :{{blog.user.first_name}} {{blog.user.last_name}}
               </p></h5>
            <small>{{blog.created_at|naturaltime}}</small>
          </div>
        </div>
      </div>
    </div>  
  {% endfor%}


<style>

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}  
</style>


{% endblock content%}



