{% extends 'base/base.html' %}
{% block content %}
{% load static %}

<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .card-container {
        display: flex;
        justify-content: space-between;
    }

    .center {
        margin: auto;
        width: 120%;
        padding: 20px;

    }

    .d-flex {
        gap: 20px;
    }

    .right {
        position: absolute;
        right: 0px;
        width: 100px;

    }

    .custom-card-title {
        font-size: 62px;
    }

    .pagination-container {
        display: flex;
        justify-content: flex-end;

        align-items: flex-end;
        position: fixed;

        width: 100%;
        padding: 20px;
        color: #4b8add;
    }


    .pagination {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .pagination .page-link {
        margin: 0 5px;
    }

    .centerr {
        padding: 30px 0;

        text-align: center;

    }

    h1 {
        font-size: 40px;


        color: #4b8add;
    }
</style>

<a href="{% url 'login' %}" class="btn btn-primary mt-4 right">LOGIN</a>
<br><br><br>
<br>
<div class="card-container">
    <div class="center">
        <div class="card" style="width: 76rem;">
            <div class=" card-body">
                <h1>NITV</h1>
            </div>
        </div>
    </div>

</div>

<body>

    <div class="container-fluid "></div>
    <div class="d-flex flex-wrap justify-content-start">
        {% for blog in page_obj %}
        <div class="clearfix">
            <div class="center">
                <div class="card shadow col-48 col-md-12 col-lg-8 mb-8">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column h-100">
                                <h5 class="card-title custom-card-title"><a
                                        href="{% url 'blogdetail' blog.id %}">{{blog.blog_title}}</a>
                                </h5>

                                <div class="mt-auto">
                                    <p class="card-text">Author :{{blog.user.first_name}} {{blog.user.last_name}} posted
                                        on


                                        {{blog.user.date_joined}}.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ blog.image.url }}" class="card-img-right" alt="..."
                                style="width: 500px; height: 400px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {% endfor%}

    <br><br>
    <div class="container p-3  mb-5 bg-dark shadow">
        <div class="d-flex  justify-content-center nowrap text-center">
            {% if page_obj.has_previous %}
            <a class="flex-item btn btn-info" href="?page=1">first</a>
            <a class="flex-item btn btn-info" href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="flex-item btn btn-primary" href="?page=1">1</a>
                <a class="flex-item btn btn-primary " href="?page=2">2</a>
                <a class="flex-item btn btn-primary " href="?page=3">3</a>
            </div>

            {% if page_obj.has_next %}
            <a class="flex-item btn btn-info" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="flex-item btn btn-info" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </div>
    </div>

</body>
{% endblock content%}