{% extends 'base/base.html' %}

{% block content %}
<br><br><br>
<div class="container-fluid w-50 shadow mt-3 p-3">

    <h1>Password reset sent to your E-mail successfully</h1>
    <hr style="border-top:3px solid black">
    <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
    </p>
</div>
{% endblock %}