{% extends 'base/base.html' %}
{% block content %}
<br><br><br>
<div class="mt-5 container-fluid pt-3 shadow p-3 mb-5 bg-white rounded"style="width:40%">
    <div class="form-group">
        <h3>Password reset Form</h3>
        <p>Forgotten your password? Enter your email address below and will will guide you through the preocess of setting a new one</p>
        <form method="POST" class="form-control">
            {% csrf_token %}
            {{form }}
        <button class="btn btn-success" type="submit">SUBMIT</button>
        </form>
    </div>
</div>

{% endblock content %}


