{% extends 'base/base.html' %}
{% block content %}
<br><br><br>
<div class="mt-5 container-fluid pt-3 shadow p-3 mb-5 bg-white rounded"style="width:40%">
    <div class="form-group">
        <h3>Enter your new password</h3>
        <p>Please enter your new password twice so we can verify you typed in correctly</p>
        <form method="POST" class="form-control">
            {% csrf_token %}
            {{form }}
        <button class="btn btn-success" type="submit">SUBMIT</button>
        </form>
    </div>
</div>

{% endblock content %}


