{% extends 'base/base.html' %}
{% block content %}
<br><br><br>
<div class="container-fluid w-50 p-3 mt-3 shadow">
    <div class="card text-center">
        <div class="card-header">
          Password reset successful
        </div>
        <div class="card-body">
          <h5 class="card-title">Hurray !!!</h5>
          <p class="card-text">Now that your password has been reset successfully, you can go and login by clicking the login button down below.</p>

        </div>
        <div class="card-footer text-muted">
            <a href="{% url 'login' %}" class="btn btn-primary">GO TO LOGIN</a>
        </div>
      </div>
</div>


{% endblock content %}