<style>
    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: blue;
    }

    body {
        background-color: beige;
    }
</style>

<!-- side bar-->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">
                    <span>Main</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a class="active" href="www.example.com">Admin Dashboard</a></li>
                    </ul>
                </li>

                <li class="menu-title">
                    <span>Employees</span>
                </li>
                <li class="submenu">
                    <a href="#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span
                            class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="www.example.com"> Add Employees</a></li>
                    </ul>
                </li>
                <!-- <li>
                                <a href="clients.html"><i class="la la-users"></i> <span>Clients</span></a>
                            </li> -->
                <li class="submenu">
                    <a href="#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li><a href="www.example.com">Projects</a></li>
                        <li><a href="www.example.com">Project Request</a></li>
                    </ul>
                </li>
                <li>
                    <a href="www.example.com"><i class="la la-ticket"></i> <span>Tickets</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="sidebar">
    <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
</div>
<div class="form-group">
    <label>Username</label>
    <input class="form-control" type="text">
</div>
<div class="form-group">
    <div class="row">
        <div class="col">
            <label>Password</label>
        </div>


        <ul class="nav user-menu">




            <li class="nav-item dropdown has-arrow main-drop">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <span class="user-img"><img src="../static/assets/img/profiles/avatar-21.jpg" alt="">
                        <span class="status online"></span></span>
                    <span>{{ companyname }}</span>
                </a>
                <div class="dropdown-menu">

                   
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">logout</button>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Signup</button>
                    </form>
                </div>
            </li>
        </ul>
        path('', include('django.contrib.auth.urls')),path('', include('django.contrib.auth.urls')),path('', include('django.contrib.auth.urls')),from django.urls import path
        from .views import blogList,blogDetail,blogCreate,updateBlog,userLoginView,userProfile,userRegister,deleteBlog,searchView,ChangePasswordView,categoryAdd,blogCategoryList
        from django.contrib.auth import views as auth_views
        
        urlpatterns =[
            path('', blogList, name="tasks"),
            path('detail/<slug>', (blogDetail), name="detail"),
            path('login/', userLoginView.as_view(), name="login-user"),
            path('register/', userRegister, name="register-user"),
            path('blog_create/', (blogCreate),name="create"),
            path('update_blog/<int:id>',updateBlog, name="update"),
            path('delete_blog/<int:id>',deleteBlog,name="delete"),
            path('category_add',categoryAdd,name='category'),
            path('category_view/',blogCategoryList,name='categorized-list'),   
            path('profile/<int:id>', userProfile,name="profile"),
            path('search', searchView, name="search"),
            path('password/', ChangePasswordView.as_view(), name="one"),
            path('reset_password/',auth_views.PasswordResetView.as_view(template_name='password_reset_form.html',html_email_template_name='reset_email.html'),name="reset_password"),
            path('password_reset/done/',auth_views.PasswordResetDoneView.as_view(template_name='password_reset_done.html'),name="reset_password_done"),
            path('reset/<uidb64>/<token>',auth_views.PasswordResetConfirmView.as_view(template_name='password_reset_confirm.html'),name="reset_password_confirm"),
            path('reset/done/',auth_views.PasswordResetCompleteView.as_view(template_name='password_reset_complete.html'),name="password_reset_complete"),   
        ]
        html code:

<div class="container">
  <div class="text-container">
    <h2>Title</h2>
    <p>Description</p>
  </div>
  <div class="image-container">
    <img src="image.jpg" alt="Image Description">
  </div>
</div>



css style

.container {
  display: flex;
  flex-wrap: wrap;
}

.text-container {
  flex: 1 1 100%;
  padding: 20px;
}

.image-container {
  flex: 1 1 100%;
  padding: 20px;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .text-container {
    flex: 1 1 50%;
  }
 
  .image-container {
    flex: 1 1 50%;
  }
}