<!doctype html>
<html lang="en">
<style>
    .center {
        margin: auto;
        width: 50%;

        padding: 10px;
    }

    .centert {
        text-align: center;

    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />

    {% load static %}


    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.png" />

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css"/> -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />


    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" />

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}" />

    <!-- Chart CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/morris/morris.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


    <!-- Common JavaScript files -->

    </script>
</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">



            <!-- Header Title -->
            <div class="centert">

                <div class="page-title-box">
                    <h3>Blog management System</h3>
                </div>
            </div>

            <!-- /Header Title -->

            <!-- Header Menu -->

            <!-- /Header Menu -->

            <!-- Mobile Menu -->
            <div class="dropdown mobile-user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                        class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="www.example.com">Settings</a>
                    <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
                </div>
            </div>
            <!-- /Mobile Menu -->

        </div>
        <!-- /Header -->


        <br><br> <br>

        {% block content %}



        {% endblock content %}


        <!-- MDB -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

        <!--Datatable plugin JS library file -->
        <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"></script>
        <script type="text/javascript">
            let table = new DataTable('#myTable');
        </script>
        <!--Durga sir's Recommendation -->
        <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>

        <!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

        <!-- Slimscroll JS -->
        <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

        <!-- Chart JS -->
        <script src="{% static 'assets/plugins/morris/morris.min.js' %}"></script>
        <script src="{% static 'assets/plugins/raphael/raphael.min.js' %}"></script>
        <script src="{% static 'assets/js/chart.js' %}"></script>

        <!-- Custom JS -->
        <script src="{% static 'assets/js/app.js' %}"></script>
        <!--Durga sir's Recommendation -->

</body>

</html>