{% extends 'base/base.html' %}
{% block content %}
{% load widget_tweaks %}
<style>
    .center {
        margin: auto;
        width: 90%;
        border: 3px solid rgb(250, 253, 250);
        padding: 30px;
    }
    .container{
        text-align: center;
    }
</style>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('.message').fadeOut('slow');
        }, 5000);

        $(document).on('click', '.del-msg', function() {
            $(this).parent().remove();
        });
    });
</script>



{% if request.user.is_authenticated %}
{% for message in messages %}
<div class= "container">
     {{ message }} </div>
    
{% endfor %}
<div class="col-auto float-right ml-auto">
    <a type="action" href="{% url 'create' %}" class="btn add-btn"><i class="fa fa-plus"></i> Create Project</a>
</div>










{% endif %}

<br><br>
<div class="grid gap-3">

    <h2>{{request.user.first_name}}'s Blog</h2>


    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>SN</th>
                <th>Blog Title</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        </tbody>
        {% for id in user %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{id.blog_title }} </td>
            <td><a href="{% url 'edit' id.id  %}"> Edit</a></td>
            <td><button type="button" class="btn btn-primary" href="{% url 'delete' id.id %}" data-toggle="modal"
                    data-target="#exampleModal{{id.id}}">
                    Delete
                </button></td>
            <div class="modal fade" id="exampleModal{{id.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete  ?<br>
                            <span>{{id.blog_title}}</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a type="action" class="btn btn-primary" href="{% url 'delete' id.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}
        </tr>


    </table>
</div>
</div>
</div>
</div>



{% endblock content %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<a href="{% url 'delete' id.id %}">Delete</a><br>